---
title: "Terraform datasources index"
description: "Index of all the datasources supported by the Telport Terraform Provider"
---

The Teleport Terraform provider supports the following datasources:
{{ range $key, $value := .DataSourceFiles }}
  - [`{{$key}}`](./{{$value}}.mdx)
{{- end }}
